name: Automatic Semantic Release

on:
  # workflow_dispatch # manual-only for testing
  push:
    branches: 
      - main 
jobs: 
  new-release: 
    runs-on: ubuntu-latest
    env:
      ACTIONS_STEP_DEBUG: true
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6 # Checkout our working repository
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@84dadaf2c367cb52af02737cd9c7e888807219e7 # v6
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          output-file: 'CHANGELOG.md'
          version-file: 'version.json'
      - name: Debug Changelog Outputs
        run: |
          echo "Skipped: ${{ steps.changelog.outputs.skipped }}"
          echo "Tag: ${{ steps.changelog.outputs.tag }}"
          echo "Clean Changelog: ${{ steps.changelog.outputs.clean_changelog }}"
          echo "Outputs Skipped: ${{ steps.changelog.outputs.skipped }}"
      - name: Create Release # This action will create the actual release 
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1 
        if: ${{ steps.changelog.outputs.skipped == 'false' }} 
        env: 
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }} 
        with: 
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }} 
          body: ${{ steps.changelog.outputs.clean_changelog }}

  
